<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313898041663-q6no2ckni8meqeilquqja53lv85nhks2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313898041663-q6no2ckni8meqeilquqja53lv85nhks2</string>
	<key>API_KEY</key>
	<string>AIzaSyAKU7nD_T_Fda017oFxtvOYI3Dv-IXuqKI</string>
	<key>GCM_SENDER_ID</key>
	<string>313898041663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donggyu.twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-swift-ui-754b7</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-swift-ui-754b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313898041663:ios:68dab9952aa50dd9af938a</string>
</dict>
</plist>